.navbar-brand {
    margin: auto;
}

a {
    color: rgba(0, 0, 0, .9);
}

#title {
    margin: 20px 35% ;
}

#logo {
    margin-left: 35%;
}

#nameInput {
    border-radius: 0.2em;
    padding: 6px 9px;
    width: 100%;
}