.navbar-brand {
    margin: auto;
}

#loginandsignup {
    padding: 0;
    margin: auto 0 3px 5px;
    font-size: 18.5px;
}
  
#loginbox {
    width: 95px;
}

#back {
    width: 80px;
}

#backButton {
    margin-left: 50%;
    margin-top: 11px;
}

#personalInfoFields {
    padding: 20px;
}

.container.py-3 {
    padding: 16px 12px;
}

a {
    color: rgba(0, 0, 0, .9);
}

#title {
    /* margin: 20px 35%; */
    margin: 20px;
    text-align: center;
    font-size: 28px;
    background-color: rgb(228, 250, 215);
    border-radius: 1em;
    font-weight: bold;
}

#nameInput {
    border-radius: 0.2em;
    padding: 6px 9px;
    width: 100%;
}

.container {
    padding: 0;
}

#saveButton {
    margin-right: 20px;
}