#logo {
    margin-left: 35%;
    margin-right: auto;
}

a {
    color: rgba(0, 0, 0, .9);
}

.navbar-brand {
    margin: auto;
}

.card-body {
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

.linkstoinfo {
    text-decoration: none;
}

.linkstoinfo:hover {
    color: #198754;
}

.box img {
    width: 100px;
    margin: auto;
}

.card-title {
    display: inline;
}

#favorite {
    font-size: 20px;
    grid-column: 3 / span 1;

}

.box a {
    margin: 12px auto;
}

#lavendername {
    text-decoration: none;
}

#lavendername:hover {
    color: #198754;
}

.box {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 33% 53% 16%;
}

.img-fluid.rounded-start {
    grid-column: 1 / span 1;
}

#name {
    font-size: 28px;
    margin: 20px;
    background-color: rgb(228, 250, 215);
    border-radius: 1em;
}

#name p {
    text-align: center;
}

#name-goes-here {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#plant-cards {
    margin: 0 auto;
}

.fa.fa-heart {
    margin-top: 15px;
}