body {
  padding-bottom: 60px;
}

#loginandsignup {
  padding: 0;
}

#plant-cards {
  display: grid;
  justify-items: center;
}

.cards {
  margin: 10px auto;
}

.card {
  width: 390px;
  margin-top: 17px;
}

.card-header {
  display: grid;
  background-color: white;
  grid-template-columns: 12% 88%;
}

.card-header .material-icons {
  grid-column: 1;
  color: black;
  font-size: 30px;
}

.card-body .material-icons {
  color: black;
}

.card-body .material-icons:hover {
  color: #198754;
}

.card-header .username {
  grid-column: 2;
}

.row {
  justify-content: space-evenly;
}

.card-body {
  padding: 0 16px 16px;
  width: 390px;
  margin: auto;
}

.card-body .card-title {
  display: inline;
}

.card-body .material-icons {
  float: right;
}

#card-group {
  display: flex;
  flex-flow: row wrap;
}

#logo {
  margin-left: 35%;
}

.navbar-brand {
  margin: auto;
}

#backButton {
  color: black;
}

.card-image {
  width: 350px;
  display: block;
  margin: 0 auto 10px;
}

.username {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.username:hover {
  text-decoration: underline;
  color: #198754;
  font-weight: bold;
}