body {
  padding-bottom: 60px;
}

#backButton {
  color: black;
  margin-left: 50%;
}

#back {
  width: 80px;
}

#wrapper {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: minmax(auto, auto);
}

#plant-image {
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
  margin-top: 8rem;
}

#plant-name {
  margin-top: 1rem;
  grid-row: 2;
  grid-column: 1/4;
  text-align: center;
}

#plant-specie {
  grid-row: 3;
  grid-column: 1/4;
  text-align: center;
  font-style: italic;
}

.img {
  max-width: 100%;
  height: auto;
}

#care-nav {
  grid-row: 4;
  grid-column: 1/4;
  text-align: center;
}

#description {
  grid-row: 5;
  grid-column: 1/4;
  margin: 1rem;
}

#care-cards {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 50% 50%;
  margin: 0 20px;
  align-content: start;
}

.card {
  margin: 0 10px;
  text-align: center;
}

.container-fluid a {
  margin: auto;
}

#picture {
  height: 500px;
}

#plant-name {
  font-weight: bold;
}