a {
  color: rgba(0, 0, 0, 0.9);
}

.input-group {
  padding: 40px 50px 20px 50px;
}

.form-control:focus {
  box-shadow: none;
}

.clear-search {
  visibility: hidden;
  display: block;
  margin-left: 50px;
}

#back {
  width: 80px;
}

.clear-search:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.card-group {
  margin: 20px 50px;
}

.card-group .row {
  justify-content: space-evenly;
  gap: 0.5em;
}

.card {
  border: none;
  max-width: 45%;
  padding: 10px 0;
  width: 18rem;
}

.card-body {
  text-decoration: none;
  width: 232px;
  margin: 0;
  padding-left: 3px;
}

.card-title {
  display: inline;
}

.card-text {
  display: block;
}

.card-img-top {
  margin: 1% auto;
}

.navbar-brand {
  margin: auto;
}

#lavender {
  text-decoration: none;
}

#lavender:hover {
  color: #198754;
}

.links-to-info {
  text-decoration: none;
}

.links-to-info:hover {
  color: #198754;
}

#loginandsignup {
  padding: 0;
  margin: auto 0;
}