body {
  padding-bottom: 60px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
}

#backButton {
  color: black;
  margin-left: 50%;
  margin-top: 11px;
}

#back {
  width: 80px;
}

#wrapper {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: minmax(auto, auto);
}

#loginbox {
  width: 95px;
}

#loginandsignup {
  padding: 0;
  margin: auto 0 3px 5px;
  font-size: 18.5px;
}

#plant-image {
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
  margin-top: 5rem;
}

#plant-name {
  margin-top: 1rem;
  grid-row: 2;
  grid-column: 1/4;
  text-align: center;
}

#plant-specie {
  grid-row: 3;
  grid-column: 1/4;
  text-align: center;
  font-style: italic;
}

.img {
  max-width: 100%;
  height: auto;
}

#blank {
  height: 30px;
  grid-column: 1 / 4;
  grid-row: 4;
}

#care-nav {
  grid-row: 5;
  grid-column: 1/4;
  text-align: center;
}

#description {
  grid-row: 6;
  grid-column: 1/4;
  margin: 1rem 17px 1rem 30px;
}

#care-cards {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 50% 50%;
  margin: 0 20px;
  align-content: start;
}

.card {
  margin: 0 10px;
  text-align: center;
}

.container-fluid a {
  margin: auto;
}

#picture {
  display: inherit;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

#plant-name {
  font-weight: bold;
}

#info {
  grid-column: 1 / span 1;
}

#care-buttons {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}