#logo {
    margin-left: 35%;
}

a {
    color: rgba(0, 0, 0, .9);
}

.user-profile {
    display: grid;
    justify-content: center;
    padding: 20px 0 5px;
}

.avatar {
    display: grid;
    justify-content: center;
}

.avatar img {
    border-radius: 100%;
}

.info {
    text-align: center;
}

.info .desc {
    display: block;
}

.card-group {
    margin: 0 50px;
    justify-content: space-around;
}

.card-group .row {
    justify-content: space-evenly;
    gap: 0.5em;
}

.card {
    border: none;
    padding: 10px 0;
    width: 18rem;
}

.card-img-top {
    margin: 1% auto;

}

.navbar-brand {
    margin: auto;
}

.card-title {
    display: inline;
}
.card-text1 {
    display: block;
}
.card-text {
    display: block;
}
#name-goes-here {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 220px;
    border: 1px solid white;
    background-color: white;
    border-radius: 0.5em;
    margin-bottom: 5px;
}
    
#location {
    text-align: center;
    width: 220px;
    border: 1px solid white;
    background-color: white;
    border-radius: 0.5em;
}
#buttons {
    display: grid;
    grid-template-columns: 65% 10% 10% 2% 10% 3%;
}
#editbutton {
    padding: 3px 0;
    width: 55px;
    font-size: 14px;
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
}
#savebutton {
    padding: 3px 0;
    font-size: 14px;
    width: 55px;
    visibility: hidden;
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
}
#cancelbutton {
    padding: 3px 0;
    width: 55px;
    font-size: 14px;
    visibility: hidden;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
}